body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #829DBA;
}

svg{
    background-color: white;
    box-shadow: 5px 5px 20px  black;
}

#legend{
    width: 100px;
    height: 50px;
    background-color: tomato;
}

#title{
    font-size: 25px
}
#subtitle{
    font-size:18px
}

#tooltip{
    position: absolute;
    width: 150px;
    height: auto;
    background-color: burlywood;
    text-align: center;
    padding:6px;
    opacity: 0.8;
    pointer-events: none;
}